<html>
  <head>
    <meta charset="UTF-8">
    <title>Novel.js</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="game/skin.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <main>
      <div id="game-area">
        <div class="style-area {{ game.currentScene.style }}">
          <div id="notification-wrapper">
            <div id="save-notification" class="notification">
              <p>Copy and save this text:</p>
              <p><textarea name="save-text" readonly></textarea></p>
              <p><button type="button" onclick="UI.closeSaveNotification()">Close</button><button type="button" id="copy-button">Copy</button></p>
            </div>
            <div id="load-notification" class="notification">
              <p>Paste your saved game here:</p>
              <p><textarea name="load-text"></textarea></p>
              <p><button type="button" onclick="UI.closeLoadNotification(false)">Close</button><button type="button" onclick="UI.closeLoadNotification(true)">Load</button></p>
            </div>
          </div>
          <div class="text-area">
            {{{ game.currentScene.parsedText }}}
          </div>
          <div class="choices">
            <ul class="choice-list">
              <div v-for="choice in game.parsedChoices">
                <li v-if="requirementsFilled(choice)" class="choice">
                  <a href="#" v-on:click="selectChoice(choice)">{{{ choice.parsedText }}}</a>
                </li>
                <div v-if="choice.alwaysShow">
                  <li v-if="!requirementsFilled(choice)">
                    {{{ choice.parsedText }}}
                  </li>
                </div>
              </div>
            </ul>
          </div>
          <div class="inventory">
            <h5>Inventory:</h5>
            <ul class="item-list">
              <li v-for="item in game.inventory" class="inventory-item">
                {{{ item.displayName }}} - {{{ item.count }}}
              </li>
            </ul>
          </div>
          <div v-if="game.settings.debugMode" class="stats">
            <h5>Stats:</h5>
            <ul class="stats-list">
              <li v-for="stats in game.stats" class="stats-item">
                {{{ stats.name }}} - {{{ stats.value }}}
              </li>
            </ul>
          </div>
          <div v-if="game.settings.showSaveButtons" class="save-buttons">
            <button type="button" id="save-button" onclick="saveGame()">Save</button>
            <button type="button" id="load-button" onclick="UI.showLoadNotification()">Load</button>
          </div>
        </div>
      </div>
    </main>

    <script type="text/javascript" src="node_modules/vue/dist/vue.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="novel.js" charset="utf-8"></script>
    <!--<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.16/vue.min.js" charset="utf-8"></script>-->
  </body>
</html>
